.foot {
    width: 100%;
    background: rgb(114, 131, 215);
    background: linear-gradient(
        90deg,
        rgba(114, 131, 215, 1) 0%,
        rgba(13, 113, 198, 1) 48%,
        rgba(125, 131, 236, 1) 100%
    );
    display: flex;
    justify-content: center;
}
.foot p {
    align-self: center;
    color: #042a2b;
    padding: 1rem;
    text-align: center;
}
