.skills {
    margin: 5rem 0;
}
.skillList {
    display: flex;
    justify-content: space-around;
    margin: 3.5rem auto;
}
.skillIcon {
    width: 6rem;
    height: 6rem;
    background: rgb(114, 131, 215);
    background: linear-gradient(
        90deg,
        rgba(114, 131, 215, 1) 0%,
        rgba(13, 113, 198, 1) 48%,
        rgba(125, 131, 236, 1) 100%
    );
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.skillIcon img {
    width: 3rem;
}
div.skillItem p {
    text-align: center;
    margin: 1rem auto;
    color: #18f2b2;
    font-weight: bold;
}
